<robot name="SICK_LMS291">
  <link name="laser">
    <visual>
      <origin xyz="-0.013 0 0.107" rpy="0 0 0"/>
		  <geometry>
        <box size="0.185 0.156 0.210"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="4.5"/>
      <inertia ixx="0.02566348973" ixy="0.0" ixz="0.0" iyy="0.02937186325" iyz="0.0" izz="0.02196036621"/>
    </inertial>
  </link>

  <link name="laser_mount">
    <visual>
    <origin xyz="-0.09 0 0" rpy="0 0 1.57"/>
    <geometry>
        <mesh filename="package://jackal_hunt_rabbit/meshes/LidarMount-1.stl" scale="0.0012 0.0012 0.0012" />
      </geometry>
    </visual>
  </link>

<joint name="laser_and_laser_mount_joint" type="fixed">
    <parent link="laser_mount"/>
    <child link="laser"/>
    <axis xyz="0 0 0"/>
    <origin xyz="0 0 0"/>
  </joint>

 <joint name="front_mount_to_laser_mount_joint" type="fixed">
    <parent link="front_mount"/>
    <child link="laser_mount"/>
    <axis xyz="0 0 0"/>
    <origin xyz="0 0 0"/>
  </joint>
</robot>
